@charset "utf-8";
//company
#page_company {
	#greeting {
		padding: 120px 0 90px;
		position: relative;
		margin: 0 0 90px;

		@media (max-width: $viewport) {
		    padding: 15vw 0 10vw;
			margin: 0 0 15vw;
		}

		&::after {
		    content: "";
		    display: block;
		    width: calc((50% - 512px) + 310px);
		    height: 710px;
		    background: $grad_dark;
			opacity: .2;
			position: absolute;
			right: 0;
			top: 0;
			z-index: -1;

			@media (max-width: $viewport) {
				width: 78vw;
				height: 90vw;
				top: initial;
				bottom: 0;
			}
		}

		.inner_sec {
		    width: 1024px;
		    margin: 0 auto;
			display: flex;
			justify-content: space-between;

			@media (max-width: $viewport) {
				width: 88vw;
			    display: block;
			    justify-content: initial;
			}

		    figure {
				width: 428px;

				@media (max-width: $viewport) {
					width: 100%;
				}

				figcaption {
					font-family: $noto-serif;
					line-height: 1.5;
					margin: 10px 0 0;
					text-align: right;
					letter-spacing: 3px;

					@media (max-width: $viewport) {
						margin: 2vw 0 0;
					}

					.status {
						font-size: 16px;

						@media (max-width: $viewport) {
							font-size: 3.6vw;
						}
					}

					.name {
						font-size: 18px;

						@media (max-width: $viewport) {
							font-size: 3.8vw;
						}
					}
				}
			}

			.content {
				width: 540px;
				box-sizing: border-box;
				padding: 0 0 0 80px;

				@media (max-width: $viewport) {
					width: 100%;
					padding: 0;
					margin: 0 0 10vw;
				}

				.ttl_sec {
					margin: 0 0 60px;

					@media (max-width: $viewport) {
						margin: 0 0 8vw;
					}
				}

				.lead {
					color: #1F6BC8;
					font-family: $noto-serif;
					font-size: 30px;
					line-height: 1.5;
					letter-spacing: 7px;
					margin: 0 0 30px;

					@media (max-width: $viewport) {
						font-size: 8vw;
						letter-spacing: .5vw;
						margin: 0 0 5vw;
					}
				}

				.text {
				    font-size: 16px;
				    line-height: 1.8;

				    @media (max-width: $viewport) {
				        font-size: 3.6vw;
				    }
				}
			}
		}
	}
}

#company-info {
	padding: 0 0 130px;

	@media (max-width: $viewport) {
	    padding: 0 0 15vw;
	}

	.inner_sec {
	    width: 1024px;
	    margin: 0 auto;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 80px 60px 80px 80px;
		background: #EDF2F8;

	    @media (max-width: $viewport) {
	        width: 88vw;
			display: block;
			justify-content: initial;
			padding: 15vw 6vw 10vw;
	    }

		.ttl_sec {
			@media (max-width: $viewport) {
				margin: 0 0 10vw;
			}
		}

		table {
			width: 650px;
			line-height: 1.5;
			font-size: 16px;

			@media (max-width: $viewport) {
				width: 100%;
				font-size: 3.6vw;
			}

			tr {
				border-bottom: 1px solid #C8CDD2;

				th {
					font-weight: normal;
					text-align: left;
					vertical-align: top;
					color: #1F6BC8;
					padding: 20px 100px 20px 20px;

					@media (max-width: $viewport) {
						display: block;
						box-sizing: border-box;
						padding: 4vw 3vw 2vw;
					}
				}

				td {
					padding: 20px 20px 20px 0;

					@media (max-width: $viewport) {
						display: block;
						box-sizing: border-box;
						padding: 0 3vw 4vw;
					}
				}
			}
		}
	}
}

#main-customer {
	padding: 0 0 130px;

	@media (max-width: $viewport) {
	    padding: 0 0 15vw;
	}

	.inner_sec {
	    width: 1024px;
	    margin: 0 auto;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0 0 0 80px;

		@media (max-width: $viewport) {
		    display: block;
		    justify-content: initial;
			width: 88vw;
			padding: 0;
		}

		.ttl_sec {
			@media (max-width: $viewport) {
				margin: 0 0 8vw;
			}
		}

	    ul {
			width: 660px;
			line-height: 1.5;
			font-size: 16px;
			columns: 2;

			@media (max-width: $viewport) {
				width: 100%;
				font-size: 3.6vw;
				columns: initial;
			}

			li {
				margin: 0 0 16px;

				@media (max-width: $viewport) {
					margin: 0 0 2vw;
				}
			}
		}
	}
}

#main-equipment {
	padding: 90px 0 130px;
	position: relative;

	@media (max-width: $viewport) {
	    padding: 15vw 0 15vw;
	}

	&::after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 300px;
	    background: $grad_dark;
		opacity: .2;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;

		@media (max-width: $viewport) {
			height: 110vw;
		}
	}

	.inner_sec {
	    width: 1024px;
	    margin: 0 auto;
		box-sizing: border-box;
		padding: 0 0 0 80px;

		@media (max-width: $viewport) {
			width: 88vw;
			padding: 0;
		}

		.ttl_sec {
			margin: 0 0 40px;

			@media (max-width: $viewport) {
				margin: 0 0 8vw;
			}
		}

		.contents {
			width: 1024px;
			position: relative;
			left: -80px;
			display: flex;
			justify-content: space-between;

			@media (max-width: $viewport) {
				width: 88vw;
				flex-wrap: wrap;
				left: initial;
			}

			figure {
				width: 240px;

				@media (max-width: $viewport) {
					width: 48%;
					margin: 0 0 5vw;
				}

				figcaption {
					color: #1F6BC8;
					font-size: 16px;
					font-weight: bold;
					line-height: 1.5;
					text-align: center;
					margin: 10px 0 0;

					@media (max-width: $viewport) {
						font-size: 3.6vw;
						margin: 2vw 0 0;
					}
				}
			}
		}
	}
}

#access {
	padding: 0 0 120px;

	@media (max-width: $viewport) {
		padding: 0 0 20vw;
	}

	.inner_sec {
		width: 1024px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 80px 60px 80px 80px;
		background: #EDF2F8;

		@media (max-width: $viewport) {
			width: 88vw;
			display: block;
			justify-content: initial;
			padding: 15vw 6vw 10vw;
		}

		.ttl_sec {
			@media (max-width: $viewport) {
				margin: 0 0 10vw;
			}
		}

		.contents {
			width: 650px;

			@media (max-width: $viewport) {
				width: 100%;
			}

			.box {
				margin: 0 0 60px;

				@media (max-width: $viewport) {
					margin: 0 0 10vw;
				}

				&:last-of-type {
					margin: 0;
				}

				.info {
					display: flex;
					align-items: center;
					margin: 0 0 20px;

					@media (max-width: $viewport) {
					    display: block;
						margin: 0 0 3vw;
					}

					.name {
						color: #1F6BC8;
						font-family: $noto-serif;
						font-size: 26px;
						letter-spacing: 2px;
						display: inline-block;
						margin: 0 24px 0 0;

						@media (max-width: $viewport) {
							display: block;
							font-size: 6vw;
							margin: 0 0 3vw;
						}
					}

					.place {
						font-size: 16px;
						line-height: 1.5;

						@media (max-width: $viewport) {
							font-size: 3.8vw;
						}
					}
				}

				.map {
					margin: 0 0 10px;

					@media (max-width: $viewport) {
						margin: 0 0 3vw;
					}

					iframe {
						width: 100%;
						height: 330px;

						@media (max-width: $viewport) {
							height: 50vw;
						}
					}
				}

				.url {
					text-align: right;

					a {
						font-size: 16px;

						@media (max-width: $viewport) {
							font-size: 3.6vw;
						}

						&::after {
						    content: "";
						    display: inline-block;
						    width: 11px;
						    height: 11px;
						    background-image: url("../images/company/icon_external.png");
						    background-size: 100%;
						    background-repeat: no-repeat;
							margin: 0 0 0 5px;

							@media (max-width: $viewport) {
								width: 3.6vw;
								height: 3.6vw;
								margin: 0 0 0 1vw;
							}
						}
					}
				}
			}
		}
	}
}

