@charset "utf-8";
//pages

.ttl_sec {
	position: relative;

	&::after {
	    content: "";
	    display: block;
	    width: 70px;
	    height: 2px;
	    background-image: url("../images/common/ttl_bar.jpg");
	    background-size: 100%;
	    background-repeat: no-repeat;
		position: absolute;
		top: 8px;
		left: -80px;

		@media (max-width: $viewport) {
			width: 5vw;
			height: 1vw;
			background-image: url("../images/common/ttl_bar_s.jpg");
			left: -6vw;
		}
	}

	.en {
		display: block;
		color: #526272;
		font-family: $barlow;
		font-size: 17px;
		letter-spacing: 2px;
		margin: 0 0 18px 5px;

		@media (max-width: $viewport) {
			font-size: 3.8vw;
			margin: 0 0 1vw 1.5vw;
		}
	}

	.ja {
		display: block;
		color: #333;
		font-family: $noto-serif;
		font-size: 30px;
		letter-spacing: 3px;

		@media (max-width: $viewport) {
			font-size: 7.6vw;
		}
	}
}

.ttl_narrow {
	height: 170px;
	background-image: url("../images/title/bg_contents.jpg");
	background-size: cover;
	background-position: center center;

	@media (max-width: $viewport) {
		height: 26vw;
		background-image: url("../images/title/bg_contents_s.jpg");
	}
}

.ttl_page {
	height: 330px;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: flex-end;

	@media (max-width: $viewport) {
		height: 52vw;
	}

	.box {
		margin: 0 0 0 calc((50% - 512px));
		width: 390px;
		background: white;
		box-sizing: border-box;
		padding: 40px 0 10px 60px;

		@media (max-width: $viewport) {
			margin: 0 0 0 6vw;
			width: 58vw;
			padding: 6vw 0 2vw 6vw;
		}

		.en {
			color: #526272;
			font-family: $barlow;
			font-size: 20px;
			letter-spacing: 2px;
			margin: 0 0 10px;

			@media (max-width: $viewport) {
				font-size: 4.8vw;
				margin: 0 0 2vw;
			}
		}

		.ja {
			color: #1F6BC8;
			font-family: $noto-serif;
			letter-spacing: 3px;
			font-size: 38px;

			@media (max-width: $viewport) {
				font-size: 8vw;
			}
		}
	}

	&.company {
		background-image: url("../images/title/bg_company.jpg");

		@media (max-width: $viewport) {
			background-image: url("../images/title/bg_company_s.jpg");
		}
	}

	&.service {
		background-image: url("../images/title/bg_service.jpg");

		@media (max-width: $viewport) {
			background-image: url("../images/title/bg_service_s.jpg");
		}
	}

	&.works {
		background-image: url("../images/title/bg_works.jpg");

		@media (max-width: $viewport) {
			background-image: url("../images/title/bg_works_s.jpg");
		}
	}

	&.product {
		background-image: url("../images/title/bg_product.jpg");

		@media (max-width: $viewport) {
			background-image: url("../images/title/bg_product_s.jpg");
		}
	}

	&.recruit {
		background-image: url("../images/title/bg_recruit.jpg");

		@media (max-width: $viewport) {
			background-image: url("../images/title/bg_recruit_s.jpg");
		}
	}
}

.ttl_product-detail {
	background-image: url("../images/title/bg_product_detail.jpg");
	background-size: cover;
	background-position: center center;
	height: 256px;
	box-sizing: border-box;
	padding: 170px 0 0;

	@media (max-width: $viewport) {
		background-image: url("../images/title/bg_product_detail_s.jpg");
		height: 36vw;
		padding: 20vw 0 0;
	}

	.box {
		margin: 0 0 0 calc((50% - 430px));
		box-sizing: border-box;

		@media (max-width: $viewport) {
			margin: 0 6vw 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		.en {
			color: white;
			font-family: $barlow;
			font-size: 14px;
			letter-spacing: 2px;
			margin: 0 0 10px;

			@media (max-width: $viewport) {
				font-size: 4.8vw;
				margin: 0 4vw 0 0;
				position: relative;
				top: 1vw;
			}
		}

		.ja {
			color: white;
			font-family: $noto-serif;
			letter-spacing: 3px;
			font-size: 27px;

			@media (max-width: $viewport) {
				font-size: 8vw;
			}
		}
	}
}

.ttl_page_simple {
	text-align: center;
	margin: 0 0 60px;
	color: #1F6BC8;
	font-family: $noto-serif;
	font-size: 38px;
	letter-spacing: 3px;

	@media (max-width: $viewport) {
		font-size: 7vw;
		margin: 0 0 8vw;
	}
}
