@charset "utf-8";
//service
#page_service {
	.primary {
		padding: 90px 0 130px;

		@media (max-width: $viewport) {
		    padding: 15vw 0 10vw;
		}

		.inner_sec {
		    width: 1024px;
		    margin: 0 auto;

		    @media (max-width: $viewport) {
		        width: 88vw;
		    }

			.message {
				width: 930px;
				height: 285px;
				margin: 0 auto 90px;
				background-image: url("../images/service/blacket_left.png"), url("../images/service/blacket_right.png");
				background-repeat: no-repeat;
				background-size: 75px;
				background-position: left top, right top;
				box-sizing: border-box;
				padding: 40px 0 0;

				@media (max-width: $viewport) {
					width: 100%;
					height: auto;
					margin: 0 auto 15vw;
					background: none;
					padding: 0;
				}

				.lead {
					color: #1F6BC8;
					font-family: $noto-serif;
					font-size: 30px;
					line-height: 1.5;
					letter-spacing: 2px;
					text-align: center;
					margin: 0 0 40px;

					@media (max-width: $viewport) {
						font-size: 6.2vw;
						margin: 0 0 3vw;
						text-align: left;
					}
				}

				.text {
				    font-size: 16px;
				    line-height: 1.8;
					margin: 0 130px 0;

				    @media (max-width: $viewport) {
				        font-size: 3.6vw;
						margin: 0;
				    }
				}
			}
		}
	}

	.second {
		padding: 0 0 90px;
		background-image: url("../images/service/service_bg.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left bottom;
		margin: 0 0 90px;

		@media (max-width: $viewport) {
		    padding: 10vw 0 15vw;
			background-image: url("../images/service/service_bg_s.jpg");
			margin: 0 0 15vw;
		}

		.inner_sec {
		    width: 1024px;
		    margin: 0 auto;

		    @media (max-width: $viewport) {
		        width: 78vw;
		    }

			.ttl {
				text-align: center;
				margin: 0 0 30px;

				@media (max-width: $viewport) {
					margin: 0 0 5vw;
				}

				img {
					width: 514px;

					@media (max-width: $viewport) {
						width: 100%;
					}
				}
			}

			ul {
				display: flex;
				justify-content: space-between;

				@media (max-width: $viewport) {
				    display: block;
				    justify-content: initial;
				}

				li {
					width: 328px;
					position: relative;
					background: #EDF2F8;

					@media (max-width: $viewport) {
						width: 100%;
						margin: 0 0 5vw;

						&:last-of-type {
							margin: 0;
						}
					}

					&::after {
					    content: "";
					    display: block;
					    width: 1px;
					    height: 48px;
					    background-image: url("../images/service/bar.jpg");
					    background-size: 100%;
					    background-repeat: no-repeat;
						position: absolute;
						margin: auto;
						left: 0;
						right: 0;
						top: 240px;

						@media (max-width: $viewport) {
							height: 11vw;
							top: 57vw;
						}
					}

					figure {}

					.inner_list {
						padding: 40px 32px 30px;

						@media (max-width: $viewport) {
							padding: 10vw 8vw 8vw;
						}

						.title {
							color: #1F6BC8;
							font-family: $noto-serif;
							font-size: 22px;
							text-align: center;
							letter-spacing: 3px;
							margin: 0 0 20px;

							@media (max-width: $viewport) {
								font-size: 5vw;
								margin: 0 0 3vw;
							}
						}

						.text {
						    font-size: 16px;
						    line-height: 2;

						    @media (max-width: $viewport) {
						        font-size: 3.6vw;
						    }
						}
					}
				}
			}
		}
	}

	#strength {
		padding: 90px 0 120px;

		@media (max-width: $viewport) {
		    padding: 15vw 0 20vw;
		}

		.inner_sec {
		    width: 1024px;
		    margin: 0 auto;

		    @media (max-width: $viewport) {
		        width: 88vw;
		    }

			.ttl_sec {
				position: relative;
				left: 80px;
				margin: 0 0 50px;

				@media (max-width: $viewport) {
					margin: 0 0 8vw;
					left: initial;
				}
			}

			.text {
			    font-size: 16px;
			    line-height: 1.8;
				margin: 0 0 50px;

			    @media (max-width: $viewport) {
			        font-size: 3.6vw;
					margin: 0 0 8vw;
			    }
			}

			.items {
				display: flex;
				justify-content: space-between;

				@media (max-width: $viewport) {
				    display: block;
				    justify-content: initial;
				}

				li {
					background: $grad_dark;
					width: 328px;
					padding: 2px;
					box-sizing: border-box;

					@media (max-width: $viewport) {
						width: 100%;
						margin: 0 0 10vw;

						&:last-of-type {
							margin: 0;
						}
					}

					.in_box {
						width: 100%;
						height: 100%;
						background: #EDF2F8;
						box-sizing: border-box;
						padding: 30px 30px 10px;

						@media (max-width: $viewport) {
							padding: 10vw 6vw 3vw;
						}
					}

					.icon {
						width: 100px;
						margin: 0 auto 30px;

						@media (max-width: $viewport) {
							width: 22vw;
							margin: 0 auto 5vw;
						}
					}

					.title {
						color: #1F6BC8;
						font-family: $noto-serif;
						font-size: 24px;
						text-align: center;
						line-height: 1.5;
						letter-spacing: 3px;
						margin: 0 0 20px;

						@media (max-width: $viewport) {
							font-size: 5.6vw;
							margin: 0 0 3vw;
						}

						&.single {
							padding: 16px 0 0;

							@media (max-width: $viewport) {
								padding: 0;
							}
						}
					}

					.text {
					    font-size: 16px;
					    line-height: 1.8;

					    @media (max-width: $viewport) {
					        font-size: 3.6vw;
					    }
					}
				}
			}
		}
	}
}
